@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: body-font;
    src: url(SEGOEUI.TTF);
  }
  @font-face {
    font-family:title-font;
    src: url(berlin-regular.TTF);
  }
  
  :root {
      --primary-color: #002B00  ;
      --secondary-color: #031C13;
   
    }

